* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E1E1E;
}
body main {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr min-content min-content 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "instructions instructions instructions instructions" "score1 board board score2";
  justify-items: center;
  align-items: center;
}
@media screen and (orientation: portrait) {
  body main {
    grid-template-areas: "score1 instructions instructions score2" "board board board board";
    row-gap: 3rem;
  }
}

.instructions {
  display: grid;
  white-space: nowrap;
  grid-area: instructions;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10vh;
}
@media screen and (orientation: portrait) {
  .instructions {
    margin-bottom: 0;
  }
}
.instructions > * {
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
}
.instructions.light-turn .light-turn {
  opacity: 1;
}
.instructions.brown-turn .brown-turn {
  opacity: 1;
}
.instructions.light-win .light-win {
  opacity: 1;
}
.instructions.brown-win .brown-win {
  opacity: 1;
}

.score {
  height: 9vh;
  width: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50%;
  scale: 0.85;
}
.score.light-score {
  background-color: rgb(245, 238, 220);
  grid-area: score1;
  margin-right: 10vh;
}
.score.brown-score {
  color: white;
  background-color: #b92222;
  grid-area: score2;
  margin-left: 10vh;
}

.checkboard {
  display: grid;
  grid-template-columns: repeat(8, min-content);
  grid-template-rows: repeat(8, min-content);
  grid-area: board;
}
.checkboard .tile {
  height: 9vh;
  width: 9vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgb(245, 238, 220);
}
.checkboard .tile.black {
  background-color: black;
}
.checkboard .tile > * {
  box-sizing: content-box;
  position: relative;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1;
}
.checkboard .tile .light-piece {
  background-color: rgba(222, 184, 135, 0);
}
.checkboard .tile .brown-piece {
  background-color: rgba(185, 34, 34, 0);
}
.checkboard .tile.light .light-piece {
  background-color: rgb(222, 184, 135);
}
.checkboard .tile.preview-light .light-piece {
  background-color: rgba(222, 184, 135, 0.5);
}
.checkboard .tile.light-queen .light-piece {
  background-color: rgb(222, 184, 135);
}
.checkboard .tile.light-queen .light-piece::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../src/img/crown.png);
  background-size: contain;
  filter: brightness(80%);
  scale: 0.7;
}
.checkboard .tile.brown .brown-piece {
  background-color: #b92222;
}
.checkboard .tile.preview-brown .brown-piece {
  background-color: rgba(185, 34, 34, 0.6);
}
.checkboard .tile.brown-queen .brown-piece {
  background-color: #b92222;
}
.checkboard .tile.brown-queen .brown-piece::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../src/img/crown.png);
  background-size: contain;
  opacity: 0.4;
  scale: 0.7;
}
.checkboard .tile.light.pointer > *, .checkboard .tile.brown.pointer > *, .checkboard .tile.preview-light:hover > *, .checkboard .tile.preview-brown:hover > *, .checkboard .tile.light-queen.pointer:hover > *, .checkboard .tile.brown-queen.pointer:hover > * {
  cursor: pointer;
}
.checkboard .tile.light.pointer .light-piece, .checkboard .tile.brown.pointer .brown-piece, .checkboard .tile.preview-light:hover .light-piece, .checkboard .tile.light-queen.pointer:hover .light-piece, .checkboard .tile.preview-brown:hover .brown-piece, .checkboard .tile.brown-queen.pointer:hover .brown-piece {
  border: 4px green solid;
}

/*# sourceMappingURL=style.css.map */
